.filterListDisplay {
  display: flex !important;
}
@keyframes menuFilterList {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.filterList {
  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &__span {
      opacity: 0.3;
      border: 1px dashed #3f4e65;
      width: 85%;
      margin: 20px 0;
    }
    &__title {
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: var(--black);
      margin-top: 20px;
    }
    &__price {
      margin: 15px 0;
    }
    &__price-input {
      margin-top: 16px;
      display: flex;
      align-items: center;
      gap: 10px;
      input {
        border: none;
        outline: none;
        background: linear-gradient(
          90deg,
          rgba(255, 198, 80, 0.3) 0%,
          rgba(254, 202, 110, 0.3) 97.25%
        );
        border-radius: 1000px;
        width: 100px;
        height: 16px;
        text-align: center;
        padding: 4px 14px;
      }
      input:focus {
        padding: 2px 12px;
        border: 1px solid rgba(255, 157, 60, 0.596);
      }
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
      }
    }
    &__manufacturer {
      margin: 10px 0;
      &_checkbox {
        display: flex;
        flex-direction: column;
        gap: 6px;
        input {
          margin: 0 10px;
        }
      }
      &_rolling {
        display: flex;
        margin-top: 15px;
        gap: 5px;
        font-weight: 500;
        font-size: 12px;
        line-height: 150%;
        color: var(--gray);
        cursor: pointer;
      }
    }
    &__manufacturer_title {
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: var(--black);
      margin-bottom: 15px;
    }
    &__manufacturer_checkbox {
      margin-top: 15px;
      border: none;
    }
    &__btns {
      margin-top: 25px;
      display: flex;
    }
  }

  &__item {
    margin-top: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
    color: var(--black);
  }
  &__item-ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__item-li:hover {
    opacity: 0.8;
  }
  &__item-li:active {
    opacity: 1;
  }
  &__item-li {
    cursor: pointer;
  }
}
