@media (max-width: 1440px) {
  .conteiner {
    max-width: 970px;
  }
  .header {
    .Button_b__wmfyX {
      padding: 18px 30px;
    }
    gap: 1px;
    .header__logo {
      width: 40%;
    }
    .header__btnSearch {
      .search {
        input {
          padding: 0px;
          width: 100px;
        }
      }
    }
    .header__contact {
      width: 40%;
    }
    .header__basket_quantity {
      width: 65px;
      margin-right: -15px;
    }

    .header__nav_ul {
      gap: 10px;
    }
    .header__btnPriceList {
      width: 400px;

      p {
        font-size: 12px;
      }
    }
  }

  .filterList__form {
    .filterList__form__price-input {
      input {
        width: 80px;
      }
    }
  }
  .product__wrapped {
    .product {
      justify-content: space-around;
      .product__cart {
        width: 270px;
      }
    }
  }
  .catalog__buttonsFilter {
    .buttonFilter {
      padding: 12px;
      font-size: 11px;
    }
  }
  .footer__body {
    gap: 1%;
  }
  .footer__navList {
    gap: 5%;
    width: 340px;
  }
  .footer__priceList-contacts {
    gap: 0%;
  }
}

@media (max-width: 1024px) {
  .conteiner {
    max-width: 970px;
  }
  .header__nav_ul {
  }
  //** HEADER  **//

  .hide {
    transform: translateY(-250px);
  }
  .header__body {
    //////////////////
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    width: 100%;
    transition: transform 0.3s linear;
    //////////////////
    .header__burger {
      padding: 10px;
      display: block;
    }
    .border-mobile {
      display: flex;
    }
  }
  .header__simpleBreadcrumbs {
    display: none;
  }
  .header__navigateButton {
    display: flex !important;

    align-items: center;
    gap: 5px;
    margin-top: 20px;
    margin-left: 130px;
    font-weight: 600;
    font-size: 10px;
    line-height: 120%;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #3f4e65;
  }
  .header {
    justify-content: space-around !important;
    .header__burger {
    }
    .header__contacts {
      display: none;
    }
    .header__nav {
      display: none;
    }
    .header__btnSearch {
      display: none;
    }
    .header__contact {
      display: none;
    }
    .header__basket_price {
      display: none;
    }
    .header__basket_quantity {
      width: 25px;
      margin-right: 0px;
    }
    .header__btnSearch-mobile {
      display: flex;
    }
    .header__basket_icon-mobile {
      display: flex;
    }
    .header__basket-mobile {
      display: flex;
    }
    .header__btnCatalog-mobile {
      display: flex;
    }
    .header__logo-mobile {
      display: flex;
    }
    .header__logo {
      display: none;
    }
    .header__basket {
      display: none;
      position: absolute;
      top: 10px;
      margin: 0 0 0 880px;
    }
    .header__btnPriceList {
      display: none;
    }
    .header__btnCatalog {
      display: none;
    }
  }

  //** CATALOG  **//

  .catalog {
    ////////////////////
    padding-top: 250px;
    ///////////////////
    margin-bottom: 80px;
    .catalog__header {
      margin-top: 25px;
      margin-left: 130px;
    }
    .catalog__buttonsFilter-param {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      h3 {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: #111111;
        text-transform: uppercase;
      }
    }
    .catalog__title {
      font-weight: 500;
      font-size: 40px;
      line-height: 120%;
      text-transform: uppercase;
      color: #111111;
    }
    .dropDownListMobile {
      display: flex;
    }
    .dropDownListDiscrete {
      display: none;
    }
    .dropDownList {
      font-size: 16px;
      .react-select {
        .react-select__value-container {
          font-size: 16px;
        }
      }
    }
    .catalog__buttonsFilter {
      flex-direction: column;
      align-items: start;
      justify-content: start;
      .catalog__buttonsFilter-param{
         h3{
            font-size: 20px;
         }

      }
      .buttonFilter {
        margin-left: 130px;
        box-shadow: none;
        padding: 10px;
        font-size: 16px;
      }
      .dropDownListMobile {
        margin-left: 130px;
      }
    }

    //**  FILTER LIST  **//

    .filterList__form__title {
      display: none;
    }
    .filterList {
      width: 90%;
      background: #ffffff;
      position: absolute;
      top: 400px;

    }
    .filterList__form {
        margin-left: 166px;
      display: none;
    }
    .filterList__form__btns {
      margin-bottom: 30px;
    }
    .filterList__item {
      display: none;
    }

    .product__wrapped {
      .product {
        margin-left: 0;
        justify-content: space-around;
        align-items: center;
        .product__cart {
          width: 270px;
        }
      }
    }
  }

  //** BASKET **//

  .basketList {
    padding-top: 180px;
    align-items: center;
    .basketItem__span {
      width: 100%;
    }
    .basketItem__span-centr {
      display: none;
    }
    .basketItem {
      flex-direction: column;
      width: 287px;
      max-height: 436px;
      .basketItem__img {
        display: flex;
        height: 200px;
        img {
          margin: auto;
          max-height: 100%;
          max-width: 100%;
        }
      }
    }
    .basketItem__body {
      .basketItem__body-type {
        font-size: 12px;
      }
      .basketItem__body-name {
        font-size: 20px;
        line-height: 24px;
      }
    }
    .basketItem__body-description {
      font-weight: 300;
      font-size: 12px;
      line-height: 150%;
      color: #3f4e65;
      height: auto;
      margin-bottom: 10px;
    }
    .basketItem__span-InBtn {
      margin: 0 10px;
      width: 0px;
      height: 49px;
      opacity: 0.2;
      border: 1px dashed #3f4e65;
    }
    .basketItem__price {
      font-weight: 700;
      font-size: 16px;
      line-height: 130%;
      color: #111111;
    }
    .basketList__order {
      flex-direction: column;
      gap: 25px;
      .basketList__price {
        order: -1;
      }
    }
  }

  //**   PRODUCT   **//

  .productItem {
    margin-top: 300px !important;
    flex-direction: column;
    align-items: center;
    .productItem__img {
      margin-bottom: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 700px;
    }
    .productItem__body {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .productItem__body__name {
        font-size: 16px;
      }
      .productItem__body__basket-price {
        font-size: 16px;
        white-space: nowrap;
      }
      .productItem__body__priceList_link-desktop {
        display: none;
      }
      .productItem__body__priceList {
        display: flex;
        flex-direction: column;
        .productItem__body__priceList_links {
          display: flex;
          align-items: center;
          gap: 70px;
          .productItem__body__priceList_link-btnMobile {
            display: block;
            order: -1;
          }
        }
      }
    }
  }

  //** FOTER  **//

  .footer {
    .footer__body {
      flex-direction: column;
      align-items: normal;
      padding: 20px;
      gap: 20px;
    }
    .footer__mailink {
      max-width: 100%;
      .footer__logo {
        display: flex;
        flex-direction: column;
        p {
        align-self: center;
          font-size: 12px;
        }
      }
      .footer__logo-priceList {
        display: flex;
        justify-content: space-around;
        align-items: center;
        p{
            align-items: center;
        }
        img {
          margin: auto;
          width: 90%;
        }
        .footer__priceList-btn>button{
            display: none !important;
        }
        .footer__logo-priceList-btn {
          display: block;
          .Button_button__gP632 {
            padding: 20px 40px;
            p {
              white-space: nowrap;
              font-weight: 700;
              font-size: 12px !important;
              line-height: 15px;
              color: #ffffff;
            }
          }
        }
      }
      .footer__search {
        align-items: center;
      }
    }
    .footer__navList {
      width: 100%;
      justify-content: space-around;
      li {
        font-size: 12px;
      }
    }
    .footer__contacts {
      h3 {
        font-size: 14px;
      }
      p {
        font-size: 12px;
      }
      a {
        font-size: 10px;
      }
    }
    .footer__priceList-contacts {
      width: 100%;
      justify-content: space-around;
      .footer__contacts-call {
      }
    }
    .footer__priceList {
      order: 1;
      .footer__priceList-btn>button{
          display: none;
      }
      h3 {
        display: none;
      }
      p {
        margin-top: 50px;
        font-size: 14px;
      }
    }
  }
}
@media (max-width: 768px) {
  .conteiner {
    max-width: 970px;
  }
  .header__nav_ul {
  }
  //** HEADER  **//

  .hide {
    transform: translateY(-250px);
  }
  .header__body {
    //////////////////
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    width: 100%;
    transition: transform 0.3s linear;
    //////////////////
    .header__burger {
      padding: 10px;
      display: block;
    }
    .border-mobile {
      display: flex;
    }
  }
  .header__simpleBreadcrumbs {
    display: none;
  }
  .header__navigateButton {
    display: flex !important;
    align-items: center;
    gap: 5px;
    margin-top: 20px;
    margin-left: 130px;
    font-weight: 600;
    font-size: 10px;
    line-height: 120%;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #3f4e65;
}
.header {
      justify-content: space-around !important;
    .header__burger {
    }
    .header__contacts {
      display: none;
    }
    .header__nav {
      display: none;
    }
    .header__btnSearch {
      display: none;
    }
    .header__contact {
      display: none;
    }
    .header__basket_price {
      display: none;
    }
    .header__basket_quantity {
      width: 25px;
      margin-right: 0px;
    }
    .header__btnSearch-mobile {
      display: flex;
    }
    .header__basket_icon-mobile {
      display: flex;
    }
    .header__basket-mobile {
      display: flex;
    }
    .header__btnCatalog-mobile {
      display: flex;
    }
    .header__logo-mobile {
      display: flex;
    }
    .header__logo {
      display: none;
    }
    .header__basket {
      display: none;
      position: absolute;
      top: 10px;
      margin: 0 0 0 880px;
    }
    .header__btnPriceList {
      display: none;
    }
    .header__btnCatalog {
      display: none;
    }
  }

  //** CATALOG  **//

  .catalog {
    ////////////////////
    padding-top: 250px;
    ///////////////////
    margin-bottom: 80px;
    .catalog__header {
      margin-top: 25px;
      margin-left: 100px;
    }
    .catalog__buttonsFilter-param {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      h3 {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: #111111;
        text-transform: uppercase;
      }
    }
    .catalog__title {
      font-weight: 500;
      font-size: 30px;
      line-height: 120%;
      text-transform: uppercase;
      color: #111111;
    }
    .dropDownListMobile {
      display: flex;
    }
    .dropDownListDiscrete {
      display: none;
    }
    .dropDownList {
      font-size: 12px;
      .react-select {
        .react-select__value-container {
          font-size: 14px;
        }
      }
    }
    .catalog__buttonsFilter {
      flex-direction: column;
      align-items: start;
      justify-content: start;
      .buttonFilter {
        margin-left: 130px;
        box-shadow: none;
        padding: 5px;
        font-size: 10px;
      }
      .dropDownListMobile {
        margin-left: 130px;
      }
    }

    //**  FILTER LIST  **//

    .filterList__form__title {
    //   display: none;
    }
    .filterList {
    
      top: 390px;
    }
    .filterList__form {
    //   display: none;
      margin-left: 110px
    }
    // .filterList__form__btns {
    //   margin-bottom: 30px;
    // }
    // .filterList__item {
    //   display: none;
    // }

    .product__wrapped {
      .product {
        margin-left: 0;
        justify-content: space-around;
        align-items: center;
        .product__cart {
          width: 270px;
        }
      }
    }
  }

  //** BASKET **//

  .basketList {
    padding-top: 180px;
    align-items: center;
    .basketItem__span {
      width: 100%;
    }
    .basketItem__span-centr {
      display: none;
    }
    .basketItem {
      flex-direction: column;
      width: 287px;
      max-height: 436px;
      .basketItem__img {
        display: flex;
        height: 200px;
        img {
          margin: auto;
          max-height: 100%;
          max-width: 100%;
        }
      }
    }
    .basketItem__body {
      .basketItem__body-type {
        font-size: 12px;
      }
      .basketItem__body-name {
        font-size: 20px;
        line-height: 24px;
      }
    }
    .basketItem__body-description {
      font-weight: 300;
      font-size: 12px;
      line-height: 150%;
      color: #3f4e65;
      height: auto;
      margin-bottom: 10px;
    }
    .basketItem__span-InBtn {
      margin: 0 10px;
      width: 0px;
      height: 49px;
      opacity: 0.2;
      border: 1px dashed #3f4e65;
    }
    .basketItem__price {
      font-weight: 700;
      font-size: 16px;
      line-height: 130%;
      color: #111111;
    }
    .basketList__order {
      flex-direction: column;
      gap: 25px;
      .basketList__price {
        order: -1;
      }
    }
  }

  //**   PRODUCT   **//

  .productItem {
    margin-top: 300px !important;
    flex-direction: column;
    align-items: center;
    .productItem__img {
      margin-bottom: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 700px;
    }
    .productItem__body {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .productItem__body__name {
        font-size: 16px;
      }
      .productItem__body__basket-price {
        font-size: 16px;
        white-space: nowrap;
      }
      .productItem__body__priceList_link-desktop {
        display: none;
      }
      .productItem__body__priceList {
        display: flex;
        flex-direction: column;
        .productItem__body__priceList_links {
          display: flex;
          align-items: center;
          gap: 70px;
          .productItem__body__priceList_link-btnMobile {
            display: block;
            order: -1;
          }
        }
      }
    }
  }

  //** FOTER  **//

  .footer {
    .footer__body {
      flex-direction: column;
      align-items: normal;
      padding: 20px;
      gap: 20px;
    }
    .footer__mailink {
      max-width: 100%;
      .footer__logo {
        p {
          font-size: 12px;
        }
      }
      .footer__logo-priceList {
        display: flex;
        justify-content: space-around;
        align-items: center;
        img {
          margin: auto;
          width: 90%;
        }
        .footer__logo-priceList-btn {
          display: block;
          .Button_button__gP632 {
            padding: 20px 40px;
            p {
              white-space: nowrap;
              font-weight: 700;
              font-size: 12px !important;
              line-height: 15px;
              color: #ffffff;
            }
          }
        }
      }
      .footer__search {
        align-items: center;
      }
    }
    .footer__navList {
      width: 100%;
      justify-content: space-around;
      li {
        font-size: 12px;
      }
    }
    .footer__contacts {
      h3 {
        font-size: 14px;
      }
      p {
        font-size: 12px;
      }
      a {
        font-size: 10px;
      }
    }
    .footer__priceList-contacts {
      width: 100%;
      justify-content: space-around;
      .footer__contacts-call {
      }
    }
    .footer__priceList {
      order: 1;
      .footer__priceList-btn>button{
          display: none;
      }
      h3 {
        display: none;
      }
      p {
        padding-top: 50px;
        font-size: 14px;
      }
    }
  }

  //////////////////////////////
//   .header__navigateButton {
//     margin-left: 0px;
//   }
//   .headerMobile__body {
//     padding: 20px 11% 30px 1% !important;
//   }
//   .header {
//     // justify-content: space-between !important;
//   }
//   .catalog {
//     .catalog__header {
//       margin-left: 0px;
//     }
//     .catalog__buttonsFilter {
//       .buttonFilter {
//         margin-left: 0px;
//       }
//       .dropDownListMobile {
//         margin-left: 0px;
//       }
//     }
//     .catalog__buttonsFilter-param {
//       width: 100%;
//       display: flex;
//       justify-content: space-between;
//       align-items: center;
//       h3 {
//         font-weight: 500;
//         font-size: 16px;
//         line-height: 150%;
//         color: #111111;
//         text-transform: uppercase;
//       }
//     }
//     .filterList {
//       padding-left: 0px;
//     }
//   }
}
@media (max-width: 450px) {
    .header__navigateButton {
  margin-left: 10px;
}
    .catalog .catalog__header {
    margin-left: 20px;
}
.catalog .catalog__buttonsFilter .catalog__buttonsFilter-param h3 {
    font-size: 16px; 
}
.catalog .catalog__buttonsFilter .buttonFilter {
    margin-left: 30px;
}
.catalog .filterList__form {
    margin-left: 30px;
}
  .footer {
    .footer__navList {
      justify-content: space-between;
    }
    .footer__priceList-contacts {
      justify-content: space-between;
    }
  }
}

@media (max-width: 375px) {

.catalog .filterList {
    top: 410px;
}
}
@media (max-width: 320px) {

.catalog .filterList {
    top: 420px;
}
}