* {
  margin: 0;
  padding: 0;
  font-family: "Inter";
}
a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
html,
body {
  height: 100%;
  width: 100%;
  .background {
    overflow: hidden;
    opacity: 0.5;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
  }
}
img {
  max-width: 100%;
  display: block;
}
#root {
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: auto;
}
.content {
  flex: 1 0 auto;
}
.conteiner {
  max-width: 1370px;
  margin: 0 auto;
  padding: 0px 10px;
}

:root {
  --black: #111111;
  --gray: #3f4e65;
  --white: #ffffff;
}

@import "adaptive.scss";
